
a {
  cursor: pointer;
}

html,
body {
  background: #F8F9FA;
  font-family: 'calibri';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

/* * {
  border: thin solid black;
} */

head {
  display: none;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: inline-block;
  position: relative;
}

.main-container {
  max-width: 1040px;
  /* display: block; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

svg {
  position: relative;

}
.tooltip {	
  position: absolute;			
  /* text-align: center;			 */
  width: 100%;					
  height: 400px;					
  padding: 10px;				
  /* font: 12px sans-serif;		 */
  background: white;	
  /* border: 0px;		 */
  border-radius: 8px;			
  pointer-events: none;	
  border: solid;
  border-width: 2px;
  transform: translate(0, 150%);
}

.map {
  display: block;
  margin-left: auto;
  /* margin-right: auto  */
}