
a {
  cursor: pointer;
}

p {
  font-size: 20px;
}

html,
body {
  background: #F8F9FA;
  font-family: 'calibri';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

/* * {
  border: thin solid black;
} */

head {
  display: none;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: inline-block;
  position: relative;
}

.main-container {
  max-width: 1040px;
  /* display: block; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

svg {
  position: relative;

}

.base-map {
  fill: #b8b8b8;
  stroke: grey;
  opacity: 0.3;
}

.right-sidebar {
  width: 300px;
  height: 800px;
}

.tooltip {	
  position: absolute;			
  width: 100%;					
  height: 300px;					
  padding: 17px;				
  background: #F8F9FA;	
  /* border-radius: 8px;			 */
  pointer-events: none;	
  /* border: solid; */
  /* border-width: 2px; */
  transform: translate(0, 10%);
}

.lower-tooltip {
  opacity: 1;
  width: 100%;
  height: 250px;
}

#ethn-bar {
  opacity: 1;
  fill: steelblue;
  height: 30px;
}

.svg-tooltip {
  height: 280px;
}

#tooltipTitle {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.map {
  display: block;
  height: 850px;
  /* margin-left: auto; */
  /* margin-right: auto  */
}

.datapoint {
  stroke: #5e5e5e;
  stroke-width: 1px;
  fill-opacity: 0.8;
}

.legend {
  stroke: black;
  fill: none;
}

#legend-rect {
  width: 40px;
  height: 15px;
}

#legend-text {
  font-size: 11px;
  text-anchor: middle;
}

.school-type {
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  padding-top: 300px;
}