
a {
  cursor: pointer;
}

html,
body {
  background: #F8F9FA;
  font-family: 'calibri';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

* {
  border: thin solid black;
}

head {
  display: none;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 160px;					
  height: 100px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: pink;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
  border: solid;
  border-width: 2px;
}